includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        - '#Unsafe usage of new static#'
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
